@-webkit-keyframes tr1 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes tr1 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes tr2 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes tr2 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.animwrap {
    display: inline-flex;
    user-select: none;
}

.animwrap span {
    white-space: pre;
}

.animwrap span.-tr1 {
    -webkit-animation: tr1 4s 0s ease;
            animation: tr1 4s 0s ease;
}

.animwrap span.-tr2 {
    -webkit-animation: tr2 4s 0s ease;
            animation: tr2 4s 0s ease;
}

.animwrap::after {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
    content: "";
    height: 100%;
    width: 100%;
}
